body{
  //Each can get their nice parallax background
  background:url('/images/juno.jpg');

}

.text-center {
  position:center;
  text-align:center;
  padding-top: 20px!important;
  padding-left: 30px;
}